<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Balança Digital</title>
  <style>
    body {
      margin: 0;
      padding-bottom: 3rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      display: flex;
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background: #f8f8f8;
      overflow: hidden;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Peso da balança</h1>
    <h2>0Kg</h2>
    <select id="suppliers"></select>
    <button>Salvar no banco</button>
  </div>
</body>

</html>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
  const socket = io();
  const suppliersSelect = document.getElementById('suppliers');

  let weight;

  socket.on('scale', (data) => {
    const parsedWeight = Number(data);
    if (isNaN(parsedWeight)) {
      console.error('Peso inválido recebido do servidor!');
      return;
    }
    weight = parsedWeight;
    document.querySelector('h2').innerText = formatWeight(weight);
  });

  document.querySelector('button').addEventListener('click', () => {
    if (weight === undefined) {
      alert('Ainda não há peso registrado!');
      return;
    }

    if (suppliersSelect.value === '') {
      alert('Selecione um fornecedor!');
      return;
    }

    const wsMessage = {
      weight,
      supplierId: parseInt(suppliersSelect.value)
    }

    socket.emit('store-weight', wsMessage);
  });

  function formatWeight(weight) {
    return `${weight}Kg`;
  }

  function fetchSuppliers() {
    fetch('/suppliers')
      .then(response => response.json())
      .then(suppliers => {
        suppliers.forEach(supplier => {
          const option = document.createElement('option');
          option.value = supplier.id;
          option.text = supplier.name;
          suppliersSelect.appendChild(option);
        });
      })
      .catch(error => console.error(error));
  }

  fetchSuppliers();

</script>
